@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter" , sans-serif !important;
}

.react-calendar__navigation_label_labelText {
  font-weight: 600 !important;
}

.react-calendar__tile--active {
  background: #C3EBFA !important;
  color: black !important;
  border-radius: 0.5rem !important;
}